<!DOCTYPE html>
<html lang="ko">
<head>
    <title>수정 페이지</title>
    <div th:replace="~{common/header :: head}"></div>
</head>
<body>
<script type="text/javascript">
    function checkSize(input) {

        let filesCount = input.files.length;

        // 파일 개수 검사
        if(filesCount > 5) {
            alert('파일은 5개까지만 첨부가 가능합니다.');
            input.value = null;
        }

        let i;

        // 파일 사이즈 검사
        for (i= 0; i < filesCount; i++ ) {
            if (input.files[i].size > (10 * 1024 * 1024)) {
                alert(input.files[i].name + "파일 사이즈가 10MB 를 넘습니다.");
                input.value = null;
            }
        }
    }
    // 등록한 파일 없으면 파일 input 없애고 보내기
    function fileCheck(theForm) {
        if(theForm.uploadFiles.value==""){
            theForm.uploadFiles.remove(); // input 삭제
        }
    }
</script>
    <div th:replace="~{common/header :: headerFragment}"></div>

    <div class="container" style="margin-top: 100px">
        <h2>글쓰기</h2>
        <form name="modify" id="modify" role="form" method="post" action="saveBoard.do" enctype="multipart/form-data"/>
            <table class="table table-borderless" >
                <input type="hidden" id="boardId" name="boardId" th:value="${board.boardId}"/>
                <if th:if="${fileInfo}!=null" th:each="fileInfo : ${fileInfo}">
                    <input type="hidden" id="fileId" name="fileId" th:value="${fileInfo.fileId}"/>
                </if>
                <tr><th>제목</th></tr>
                <tr><td width="90%"><textarea name="title" id="title" class="form-control" th:utext="${board.title}" maxlength="30" required="required" style="resize: none; height: 30px; background-color:white"></textarea></td></tr>
                <tr><th>내용</th></tr>
                <tr><td class="text-center"><textarea class="form-control" name="content" id="content" th:utext="${board.content}" maxlength="1500" rows="20" required="required" style="resize: none; background-color:white">내용을 입력하세요.</textarea></td></tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <div class="custom-file">
                                <label class="custom-file-label" for="uploadFiles"><b>첨부 파일</b></label><br>
                                <input type="file" class="custom-file-input" name="uploadFiles" id="uploadFiles" multiple onchange="checkSize(this)">
                                <div>
                                    <b>현재 등록된 파일</b>
                                    <p th:if="${fileInfo} != null" th:each="fileInfo : ${fileInfo}" th:text="${fileInfo.originalName}"></p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-secondary" onclick="location.href='list.do?'">목록</button>
                <button type="submit" class="btn btn-primary" onclick="fileCheck(this.form)">등록하기</button>
            </div>
        </form>
    </div>
</body>
</html>