<!DOCTYPE html>
<html lang="ko">
<head>
    <title>글 작성</title>
    <div th:replace="~{common/header :: head}"></div>
</head>
<body>
<script type="text/javascript">
    function checkSize(input) {

        let filesCount = input.files.length;

        // 파일 개수 검사
        if(filesCount > 5) {
            alert('파일은 5개까지만 첨부가 가능합니다.');
            input.value = null;
        }

        let i;

        // 파일 사이즈 검사
        for (i= 0; i < filesCount; i++ ) {
            if (input.files[i].size > (10 * 1024 * 1024)) {
                alert(input.files[i].name + "파일 사이즈가 10MB 를 넘습니다.");
                input.value = null;
            }
        }
    }
    // 등록한 파일 없으면 파일 input 없애고 보내기
    function fileCheck(theForm) {
        if(theForm.uploadFiles.value==""){
            theForm.uploadFiles.remove(); // input 삭제
        }
    }
</script>

    <div th:replace="~{common/header :: headerFragment}"></div>

    <div class="container" style="margin-top: 100px">
        <h2>글쓰기</h2>
        <form name="writeForm" id="writeForm" role="form" method="post" enctype="multipart/form-data" action="saveBoard.do"/>
            <table class="table table-borderless" >
                <tr><th>제목</th></tr>
                <tr><td width="90%"><input name="title" id="title" class="form-control" placeholder="제목을 입력하세요." required="required" ></td></tr>
                <tr><th>내용</th></tr>
                <tr><td class="text-center"><textarea class="form-control" name="content" id="content" maxlength="1500" rows="20" style="resize: none; background-color:white" placeholder="내용을 입력하세요." required="required"></textarea></td></tr>
            </table>
            <div class="input-group">
                <div class="custom-file">
                    <label class="custom-file-label" for="uploadFiles"><b>파일 첨부</b></label><br>
                    <input type="file" class="custom-file-input" name="uploadFiles" id="uploadFiles" multiple="multiple" accept="*/*" onchange="checkSize(this)">
                </div>
            </div>
            <div  class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-secondary" onclick="location.href='list.do'">목록</button>
                <button type="submit" class="btn btn-primary" onclick="fileCheck(this.form)">등록하기</button>
            </div>
        </form>
    </div>
</body>
</html>