<!DOCTYPE html>
<link land="ko" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
<form method="get" action="/user/getUserInfo.do">
    <div class="container">
        <h2 align="center">프로필</h2>
        <div class="signUpForm" style="display: flex; flex-direction: column; align-items: center;">
            <div class="signUpLine" style="border: solid 1px #d3d3d3; padding: 50px; border-radius: 20px; margin: 50px; width: 30%">
                <div class="form-group">
                    <table class="profile">
                        <tr>
                            <td style="width: 80px;">아이디</td>
                            <td th:text="${user.userId}"></td>
                        </tr>
                        <tr>
                            <td>이름</td>
                            <td th:text="${user.name}"></td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td th:text="${user.email}"></td>
                        </tr>
                        <tr>
                            <td>전화번호</td>
                            <td th:text="${user.phone}"></td>
                        </tr>
                    </table>
                </div>
                <button type="submit" class="btn btn-secondary">프로필 수정</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>